<% content_for :title, "Editing book" %>

<h1>Editing book</h1>

<%= render "form", book: @book %>

<br>

<div>
  <%= link_to "Show this book", @book, class:"new-book-button" %>
  <%= link_to "\u2190 Back to books", books_path, class:"new-book-button", style:"right:auto; left:5%;" %>
</div>
