<p style="color: green"><%= notice %></p>

<% content_for :title, "Books" %>

<h1 style="font-size: 2.5rem;">Books</h1>
<hr style="color: white;" />

<div id="books">
  <% @books.each do |book| %>

      <%= link_to book do %>
        <%= render book %>
      <%end%>
      
  <% end %>
</div>

<%= link_to "Add book", new_book_path, class:"new-book-button"%>
